@using Brewgr.Web
@using Brewgr.Web.Core.Model

<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <a id="logo" href="@Url.Action("Index", "Root", null, "http")"><img src="@Url.Image("~/img/logo.png")" alt="Brewgr" /></a>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <ul id="navigation" class="menu">
                    <li class="hidden-xs hidden-sm"><a href="@Url.Action("Index", "Root", null, "http")">Home</a></li>
                    <li>
                        <a>Recipes</a>
                        <ul>
                            @if (ViewBag.ActiveUser != null)
                            {
                                <li><a href="@Url.UserProfileUrl((ViewBag.ActiveUser as UserSummary).Username)">My Recipes</a></li>
                                <li><a href="@Url.UserProfileUrl((ViewBag.ActiveUser as UserSummary).Username)/#sessions">My Brew Sessions</a> </li>
                            }
                            <li><a href="@Url.Action("homebrew-recipes", "Recipe", null, "http")"><span>Homebrew Recipes</span></a></li>
                            <li><a href="@Url.Action("homebrew-recipe-calculator", "Recipe", null, Url.Https())">Create a New Recipe</a></li>
                            <li><a href="#" class="recipe-import" rel="nofollow">Import Beer Xml</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>Tools</a>
                        <ul>
                            <li><a href="@Url.Action("homebrew-recipe-calculator", "Recipe", null, "http")">Homebrew Recipe Calculator</a></li>
                            <li><a href="@Url.Action("Calculators", "Calculators", null, "http")">All Calculators</a></li>
                            <li><a href="@Url.Action("CalculatorsHydrometerTemp", "Calculators", null, "http")">Hydrometer Correction Calculator</a></li>
                            <li><a href="@Url.Action("CalculatorsMashSpargeWater", "Calculators", null, "http")">Mash/Sparge Water Infusion Calculator</a></li>
                            <li><a href="@Url.Action("CalculatorsMashTunCapacity", "Calculators", null, "http")">Mash Tun Capacity Calculator</a></li>
                            <li><a href="@Url.Action("Calculations", "Calculations", null, "http")">How the Calculations are Made</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>About</a>
                        <ul>
                            <li><a href="@Url.Action("about", "root")">About Brewgr</a></li>
                            <li><a href="@Url.Action("howitworks", "root")">How It Works</a></li>
                            <li><a href="@Url.Action("features", "root")">Features</a></li>
                        </ul>
                    </li>
                    <li class="visible-xs">
                        @if (ViewBag.ActiveUser != null)
    {

                    <ul>
                        <li><a href="@Url.Action("settings", "User", null, Url.Https())">Edit Profile</a></li>
                    </ul>
                    <a href="/logout">Sign Out</a>
}
else
{
                    <a href="/logout">Sign In</a>
}
                    </li>
                </ul>

                @* User Info *@
                <div class="hidden-xs">
                    @Html.Partial("_UserInfo")
                </div>

                @* Mobile Menu *@
                <div id="mobilemenu" class="visible-xs">
                    @if (ViewBag.ActiveUser != null)
                    {
                        <a href="@Url.UserProfileUrl((ViewBag.ActiveUser as UserSummary).Username)">
                            <img src="@((ViewBag.ActiveUser as UserSummary).GetAvatar(28))" class="avatar" />
                        </a>
                    }
                    <button class="btn btn-lg searchtrig">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    <button class="menu btn btn-lg">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
