@using Brewgr.Web
@model Brewgr.Web.Core.Model.UserSummary

@{
    var username = Model.Username.Length > 30 ? Model.Username.Substring(0, 30) + "..." : Model.Username;
}

<div class="panel panel-default user-widget">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4 col-sm-5 col-md-4">
                <a href="@Url.UserProfileUrl(Model.Username)">
                    <img src="@Model.GetAvatar(82)" alt="@Model.Username" border="0" width="82" height="82" />
                </a> 
            </div>
            <div class="col-xs-8 col-sm-7 col-md-8">
                <h4>
                    <a href="@Url.UserProfileUrl(Model.Username)">@username</a>
                </h4>
                <div class="marginbottom5">Member Since @string.Format("{0:MM}", Model.DateCreated)/@string.Format("{0:yy}", Model.DateCreated)</div>
                <div>
                    @Model.RecipeCount Recipe@(Model.RecipeCount == 1 ? "" : "s")
                </div>
                <div>
                    @Model.BrewSessionCount Brew Session@(Model.BrewSessionCount == 1 ? "" : "s")
                </div>
                <div>
                    @Model.CommentCount Comment@(Model.CommentCount == 1 ? "" : "s")
                </div>
            </div>
        </div>
    </div>
</div>
