@using Brewgr.Web
@using Brewgr.Web.Core.Model
@using ctorx.Core.Formatting
@using System.Web.Optimization
@model BrewSessionViewModel

@{
    ViewBag.Title = Model.RecipeSummary.Name + " Brew Session";
    ViewBag.Canonical = Url.BrewSessionDetailUrl(Model.BrewSessionId, Model.RecipeSummary.Name);
}

<style>
    #view-brew-session .btn { display: block; width: 100%; margin-bottom: 20px; }
    #view-brew-session { margin-top: 30px; }
</style>

<div id="view-brew-session">

    <div class="container">
        <div class="row">
            <section class="col-md-8 col-lg-9">
                @Html.Partial("_BrewSessionForm", Model)

                @* Tasting Notes *@
                @Html.Partial("~/Views/Recipe/_TastingNoteList.cshtml", Model.TastingNotes ?? new List<TastingNote>())

                @* Comments *@
                @Html.Partial("_BrewSessionDetailComments", Model)

            </section>
            <section class="col-md-4 col-lg-3">
                <div class="compliment">
                    <div id="recipe-facts">
                        @Html.Partial("_RecipeFactsNew", Model.RecipeSummary)
                    </div>
                    @if (ViewBag.ActiveUser != null && ViewBag.ActiveUser.UserId == Model.UserId)
                    {
                        <a href="@Url.EditBrewSessionUrl(Model.BrewSessionId)" rel="nofollow" class="btn btn-default btn-lg">Edit This Brew Session</a>
                    }
                    <a href="@Url.RecipeDetailUrl(Model.RecipeSummary.RecipeId, Model.RecipeSummary.Name, Model.RecipeSummary.StyleName)" class="btn btn-default btn-lg">Go To Recipe</a>
                </div>
            </section>
        </div>
    </div>
</div>
