@using Brewgr.Web
@using Brewgr.Web.Core.Model
@using ctorx.Core.Formatting
@using System.Web.Optimization

@model BrewSessionViewModel

@{
    ViewBag.Title = "New Brew Session for " + Model.RecipeSummary.Name;
}

<style>
    #view-newbrewsession .btn { display: block; width: 100%; margin-bottom: 20px; }
    #view-newbrewsession { margin-top: 20px; }
</style>


<div id="view-newbrewsession">

    <div class="container">
        <div class="row">
            <section class="col-md-8 col-lg-9">
                @Html.Partial("_BrewSessionForm", Model)
            </section>
            <section class="col-md-4 col-lg-3">
                <div class="compliment">
                    <div id="recipe-facts">
                        @Html.Partial("_RecipeFactsNew", Model.RecipeSummary)
                    </div>
                    <input type="submit" id="" class="btn btn-success btn-lg SaveBrewSessionButton" value="Save Brew Session" />
                    <div class="actions">
                        @if (!Model.IsNewBrewSession())
                        {
                            <a href="#" class="btn btn-danger btn-lg delete-brewsession" data-brewsessionid="@Model.BrewSessionId">Delete</a>
                        }
                        @if (Model.BrewSessionId > 0)
                        {
                            if (Model.RecipeSummary.BrewSessionCount > 1)
                            {
                                <a href="@Url.RecipeBrewSessionsUrl(Model.RecipeSummary.RecipeId, Model.RecipeSummary.Name)" class="btn btn-default btn-lg">Other Brew Sessions</a>
                            }
                            <a href="@Url.RecipeEditUrl(Model.RecipeId)" class="btn btn-default btn-lg">Go To Recipe</a>
                        }
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>

<div class="hidden">
    @using (Html.BeginForm("SaveSession", "BrewSession", FormMethod.Post, new { id = "SessionForm" }))
    {
        <input type="hidden" name="SessionJson" id="SessionJson" />
    }
</div>

@*@section Scripts
{
    <script type="text/javascript">
        $(function () {
            SessionBuilder.initialize();
            @if(Model.RecipeSummary.RecipeTypeId != (int)RecipeType.Extract)
            {
                <text>WaterCalc.initialize($('#s_waterIn'), $('#s_waterOut'), $('select[data-name=s_UnitType]'));</text>
            }
        });
    </script>
}*@
