@model SearchViewModel
@{
	var title = "Search results for \"" + Model.SearchTerm + "\"";
	ViewBag.Title = title;	
}

<div class="hidden-xs hidden-sm col-md-2"></div>
<div class="col-md-8">
    @if (Model.HasResults())
    {
        <ul class="nav nav-tabs">
            <li data-count="@Model.RecipeSummaries.Count"><a href="#tab-tab-1" data-toggle="tab">Recipes (@Model.RecipeSummaries.Count)</a></li>
            <li data-count="@Model.UserSummaries.Count"><a href="#tab-tab-2" data-toggle="tab">Brewers (@Model.UserSummaries.Count)</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-tab-1" class="tab-pane active">
                @if (Model.RecipeSummaries.Any())
                {
                    @Html.Partial("_RecipeList", Model.RecipeSummaries)
                }
                else
                {
                    <p class="no-search-results">We couldn't find any recipes that match your search terms</p>
                }
            </div>
            <div id="tab-tab-2" class="tab-pane">
                @if (Model.UserSummaries.Any())
                {
                    @Html.Partial("_UserList", Model.UserSummaries)
                }
                else
                {
                    <p class="no-search-results">We couldn't find any brewers that match your search terms</p>
                }
            </div>
        </div>
        
    }
    else
    {
        <h2>Sorry, we couldn't find what you were searching for</h2>
        <p>
            Please check that your search term was spelled correctly or try searching using different words.
        </p>
    }
</div>
<div class="hidden-xs hidden-sm col-md-2"></div>
