@using Brewgr.Web
@model UserProfileViewModel
@{
    ViewBag.Title = Model.UserSummary.Username;
    ViewBag.Description = Model.GetDescription();
    ViewBag.Canonical = Url.UserProfileUrl(Model.UserSummary.Username);
}

<div id="vw-profile" class="container view">
    <div class="row">
        <div class="col-lg-3">
            <div class="row info">
                <div class="col-sm-4 col-md-3 col-lg-12">
                    <img src="@Model.UserSummary.GetAvatar(200)" width="200" height="200" alt="@Model.UserSummary.Username" />
                    @Html.Partial("_FollowBrewerButton", Model.UserSummary)
                </div>
                <div class="col-sm-8 col-md-7 col-lg-12">
                    <h2 class="username">@Model.UserSummary.Username</h2>
                    <h5>Member Since @Model.UserSummary.DateCreated.ToShortDateString()</h5>
                    <h5>@Model.Recipes.Count Recipes Created</h5>
                    <h5>@Model.BrewSessionSummaries.Count Brew Sessions Created</h5>
                    @if (!string.IsNullOrWhiteSpace(Model.UserSummary.Bio))
                    {
                        <p>
                            @Html.Partial("_StringWithLineBreaks", Model.UserSummary.Bio)
                        </p>
                    }

                    @if (ViewBag.ActiveUser != null && ViewBag.ActiveUser.UserId == Model.UserSummary.UserId)
                    {
                        <p><a href="@Url.Action("settings", "User", null, Url.Https())">Edit Your Profile</a></p>
                    }

                </div>
            </div>
        </div>
        <div class="col-lg-9">

            <p class="new-recipe-button">
                <a href="@Url.Action("homebrew-recipe-calculator", "Recipe", null, "http")" class="btn btn-success">New Recipe</a>
            </p>

            <ul class="nav nav-tabs">
                <li class="active"><a href="#recipes" data-toggle="tab">Recipes (@Model.Recipes.Count)</a></li>
                <li><a href="#sessions" data-toggle="tab">Brew Sessions (@Model.BrewSessionSummaries.Count)</a></li>
                <li><a href="#followers" data-toggle="tab">Followers (@Model.Followers.Count)</a></li>
                <li><a href="#following" data-toggle="tab">Following (@Model.Follows.Count)</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="recipes">
                    @if (Model.Recipes.Any())
    {
                @Html.Partial("_RecipeListTable", Model.Recipes)
}
else
{
                <div class="col-md-12">
                    <span class="h3">@Model.UserSummary.Username has not created any recipes yet</span>
                </div>
}
                </div>
                <div class="tab-pane" id="sessions">
                    @if (Model.BrewSessionSummaries.Any())
            {
                @Html.Partial("_BrewSessionList", Model.BrewSessionSummaries)
    }
    else
    {
        <div class="col-md-12">
            <span class="h3">@Model.UserSummary.Username has not created any brew sessions yet.</span>
        </div>
}
                </div>
                <div class="tab-pane" id="followers">
                    <div class="row">
                        @if (Model.Followers.Any())
                {
                    foreach (var user in Model.Followers)
                    {
                        <div class="col-md-2">
                            <div class="thumbnail">
                                <a href="@Url.UserProfileUrl(user.Username)"><img src="@user.GetAvatar(75)" alt="@user.Username" /></a>
                                <div class="caption">
                                    <a href="@Url.UserProfileUrl(user.Username)">@(user.Username.Length > 14 ? user.Username.Substring(0, 11) + "..." : user.Username)</a>
                                </div>
                            </div>
                        </div>
            }
        }
        else
        {
            <div class="col-md-12">
                <span class="h3">@Model.UserSummary.Username doesn't have any followers yet  :(</span>
            </div>
}
                    </div>
                </div>
                <div class="tab-pane" id="following">
                    <div class="row">
                        @if (Model.Follows.Any())
                {
                    foreach (var user in Model.Follows)
                    {
                        <div class="col-md-2">
                            <div class="thumbnail">
                                <a href="@Url.UserProfileUrl(user.Username)"><img src="@user.GetAvatar(75)" alt="@user.Username" /></a>
                                <div class="caption">
                                    <a href="@Url.UserProfileUrl(user.Username)">@(user.Username.Length > 14 ? user.Username.Substring(0, 11) + "..." : user.Username)</a>
                                </div>
                            </div>
                        </div>
            }
        }
        else
        {
            <div class="col-md-12">
                <span class="h3">@Model.UserSummary.Username is not following anyone yet  :(</span>
            </div>
}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        // Javascript to enable link to tab
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
        }

        // Change hash for page-reload
        $('.nav-tabs a').on('shown.bs.tab', function (e) {
            window.location.hash = "";
        })
    });
</script>
