@using Brewgr.Web.Core.Model
@model RecipeSearchResults

@{
    ViewBag.Title = "Homebrew Recipe Finder and Search Tool";
}


<div class="hidden-xs hidden-sm col-md-2"></div>
<div class="col-md-8 recipe-search-form">
    @using (Html.BeginForm())
    {
    <div class="panel panel-default">
        <div class="panel-heading">Recipe Search Options</div>
        <div class="panel-body">

            <div class="form-group">

                <label>Recipe Type</label>
                <div class="checkbox">
                    <label><input type="checkbox" checked="checked" name="RecipeTypes" value="@RecipeType.AllGrain" /> All Grain</label>
                    <label><input type="checkbox" checked="checked" name="RecipeTypes" value="@RecipeType.Extract" /> Extract</label>
                    <label><input type="checkbox" checked="checked" name="RecipeTypes" value="@RecipeType.AllGrainPlusExtract" /> Partial Mash</label>
                </div>

            </div>
            <div class="form-group">

                <label>Recipe Style</label>
                <div class="item styles checkbox">
                    @foreach (BjcpStyleSummary style in ViewBag.Styles)
                {
                    <label><input type="checkbox" name="RecipeStyles" value="@style.SubCategoryId" /> @style.SubCategoryName</label>
            }
                </div>

            </div>
            <div class="form-group">

                <label>Search Terms</label>
                <input type="text" name="SearchTerm" class="form-control" />
                <div class="checkbox">
                    <label><input type="radio" name="AndSearchTerm" value="false" checked="checked" /> Match any word</label>
                    <label><input type="radio" name="AndSearchTerm" value="true" /> Match all words</label>
                </div>

            </div>
            <div class="form-group">

                <label>Search Options</label>
                <div class="checkbox">
                    <label><input type="checkbox" name="IsClone" value="true" /> is a clone</label>
                    <label><input type="checkbox" name="HasBrewSessions" value="true" /> has brew sessions</label>
                    <label><input type="checkbox" name="HasTastingNotes" value="true" /> has tasting notes</label>
                    <label><input type="checkbox" name="HasComments" value="true" /> has comments</label>
                </div>

            </div>
            <button class="btn btn-success btn-lg" type="submit">Find Homebrew Recipes</button>

        </div>
    </div>
    }

    <p>
        Much of the enjoyment of being a homebrewer and making your own beer is building and designing your own recipes.  Whether you're a beginning home brewer looking for guidance on how best to formulate a recipe, or you're an experienced brewer looking for a good starting point for your next award winning recipe, Brewgr's recipe finder and advanced homebrew recipe search tool will help you find what you're looking for.
    </p>
    <h3>Search Tips</h3>
    <ul>
        <li>Choose only the recipe type you want to brew.</li>
        <li>Only choose a beer style if your are looking for a specific style to brew. </li>
        <li>Only choose "is a clone" if you are looking for homebrew recipes for clones of popular beers</li>
        <li>Choosing "has brew sessions", "has tasting notes", or "has comments" will limit your results but might help you find a recipe that has already been vetted.</li>
    </ul>

</div>
<div class="hidden-xs hidden-sm col-md-2"></div>
