@using Brewgr.Web.Core.Model
@model IList<TastingNote>
    
<style type="text/css">
    #tastingnotes .tasting-notes-wrapper { margin-bottom: 20px; }
    #tastingnotes .btn { display: inline; }
</style>

<div class="groupbox" id="tastingnotes">
    <span>
        <h3>Tasting Notes (<span id="tasting-note-count">@Model.Count</span>)</h3>
    </span>
    <div class="tasting-notes-wrapper">
        @if (Model.Any())
        {
            <div class="tasting-notes">
                @foreach (var tastingNote in Model)
                {
                    @Html.Partial("~/Views/Recipe/_TastingNoteDetail.cshtml", tastingNote)
                }
            </div>
        }
        else
        {
            <div class="no-tasting-notes padding10">There aren't any tasting notes logged yet</div>
            <div class="tasting-notes"></div>
        }
    </div>
    @if (ViewBag.ActiveUser != null && Convert.ToInt32(ViewData["CreatorId"]) == ViewBag.ActiveUser.UserId)
    {
        <h3>Add Tasting Notes</h3>
        <div class="panel panel-default tasting-note-form" id="tasting-note-form">

            <div class="panel-body">

                @if (ViewData["RecipeId"] != null)
                {
                    <input type="hidden" id="TastingNotesRecipeId" value="@ViewData["RecipeId"]" />
                }
                else
                {
                    <input type="hidden" id="TastingNotesBrewSessionId" value="@ViewData["BrewSessionId"]" />
                }
                <div class="form-inline">
                    <div class="form-group unit-type-select">
                        <label for="">Date Tasted</label>
                        <input type="text" id="taste-date" class="datepicker form-control" value="@DateTime.Now.ToShortDateString()" disabled />
                    </div>
                    <div class="form-group brew-date">
                        <label for="">Overall Rating</label>
                        <span id="star"></span>
                        <input type="hidden" name="Rating" id="Rating" value="0" />
                    </div>
                </div>
                <div class="form-group notes">
                    <label for="Notes">Notes</label>

                    <textarea name="notes" class="form-control" id="NewTastingNotes"></textarea>
                </div>
                <div class="save">
                    <a href="#" class="btn btn-success btn-md">Save Tasting Notes</a>
                </div>
            </div>
        </div>
    }
</div>
